body {
    color: #444;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto 10px;
    border: 1px solid #444;
    vertical-align: middle;
}

.right {
    text-align: right;
}

.main {
    max-width: 1000px;
    margin: 0 auto 50px;
    border: 1px solid #444;
}

.content {
    padding: 1em 2em;
}

.comment {
    border: 1px solid #cbcbcb;
}

.comment-header {
    margin: auto 0;
    text-align: center;
    padding: 1em;
    overflow-wrap: break-word;
}

.comment-body {
    padding: 1em;
    letter-spacing: normal;
    overflow-wrap: break-word;
}

.bgr-success {
    background-color: #aaf2aa !important;
}

.bgr-failure {
    background-color: #f2aaaa !important;
}

.bgr-neutral {
    background-color: #f2f2f2 !important;
}


.comment-avatar {
    width: 32px;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.comment-date {
    font-size: 60%;
}

textarea {
    resize: none;
}

.comment-textarea {
    height: 8em;
}

.pure-button {
    border-radius: 4px;
}

.button-success,
.button-error {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.meta-table {
    font-size: 80%;
}

.meta-table td {
    padding: .2em .5em;
}