body {
    color: #444;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto 10px;
    border: 1px solid #444;
    vertical-align: middle;
}

.navbar-right {
    text-align: right;
}

.main {
    max-width: 1000px;
    margin: 0 auto 50px;
    border: 1px solid #444;
}

.content {
    padding: 1em 2em;
}

.comment {
    border: 1px solid #cbcbcb;
}

.comment-header {
    margin: auto 0;
    text-align: center;
    padding: 1em;
}

.comment-body {
    padding: 1em;
    letter-spacing: normal;
}

.bgr-success {
    background-color: #80ff80 !important;
}

.bgr-failure {
    background-color: #ff8080 !important;
}

.bgr-neutral {
    background-color: #f2f2f2 !important;
}


.comment-avatar {
    width: 32px;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.comment-date {
    font-size: 70%;
}