#resumable-drop {
    width: 100%;
    height: 150px;
    line-height: 150px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

#resumable-drop span {
    display: inline-block;
    vertical-align: middle;
}

.gray-drop {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
}

.blue-drop {
    background: rgba(0, 0, 255, 0.4);
    color: rgba(0, 0, 255, 0.6);
}

.sunflower-drop {
    background: rgba(255, 234, 0, 0.4);
    color: rgba(255, 196, 0, 0.6);
}