body, .pure-menu-children {
    background-color: #202020 !important;
}

body, h1, .pure-menu-children, .pure-table thead, label, table, div, .default-comment, .pure-menu-link, textarea, input {
    color: #eee !important;
}

.pure-form legend {
    color: #ddd;
}

i {
    color: #bbb;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #2c669d;
}

td a:link {
    color: powderblue;
}
td a:visited {
    color: tan !important;
}
.pure-table, .comment, .pure-table td, .pure-table th {
    border-color: #5a5a5a !important;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #323232;
}

.pure-table thead, .pure-menu-children, textarea, input {
    background-color: #252525 !important;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: #5a5a5a;
}

.submissions-table th, .submissions-table td, .pure-table-bordered td, .pure-form legend {
    border-bottom: 1px solid #5a5a5a !important;
}

#resumable-drop {
    border: 1px solid #eee !important;
}

input[type=text], textarea{
    border: none !important;
}
.button-reject {
    border: 1px solid #ccc;
}

.tag-box:hover {
    background-color: black;
}

.message-box {
    background-color: #5a5a5a;
}

.submission-type-icon {
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(130deg) brightness(98%) contrast(106%);
}
