body {
    color: #000;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#navbar, #system-announcement {
    max-width: 1300px;
    margin: 0 auto 10px;
    border: 1px solid #444;
    vertical-align: middle;
}

.pure-u-1-2 {
    width: auto;
    min-width: 50%;
}

.right {
    text-align: right;
}

.left {
    text-align: left !important;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

#main {
    max-width: 1300px;
    margin: 0 auto 50px;
    border: 1px solid #444;
}

.content {
    padding: 1em 2em;
}

.comment {
    border: 1px solid #cbcbcb;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.comment-header {
    margin: auto 0;
    text-align: center;
    padding: 0.5em;
    overflow-wrap: break-word;
}

.comment-header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
}


.comment-body {
    padding: 0.7em;
    letter-spacing: normal;
    overflow-wrap: break-word;
}


.comment-avatar {
    width: 32px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(64, 64, 64) !important;
}

.comment-date {
    font-size: 60%;
}

textarea {
    resize: none;
}

.comment-textarea {
    height: 8em;
}

.pure-button {
    border-radius: 4px;
}


.bgr-comment,
.bgr-approve,
.bgr-request-changes,
.bgr-mark-added,
.bgr-reject,
.bgr-upload-file,
.bgr-verify,
.bgr-assign-testing,
.bgr-unassign-testing,
.bgr-assign-verification,
.bgr-system,
.bgr-unassign-verification {
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.dot-approve,
.dot-request-changes,
.dot-mark-added,
.dot-reject,
.dot-upload-file,
.dot-verify,
.dot-assign-testing,
.dot-comment,
.dot-unassign-testing,
.dot-assign-verification,
.dot-system,
.dot-unassign-verification {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.button-approve,
.button-request-changes,
.button-mark-added,
.button-reject,
.button-upload-file,
.button-verify,
.button-delete,
.button-assign-testing,
.button-unassign-testing,
.button-assign-verification,
.button-system,
.button-unassign-verification,
.button-pause,
.button-cancel {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.button-override {
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.bgr-comment,
.dot-comment,
.button-comment {
    background: rgb(184, 184, 184) !important;
}

.bgr-approve,
.dot-approve,
.button-approve {
    background: rgb(28, 184, 65) !important;
}

.bgr-request-changes,
.dot-request-changes,
.button-request-changes {
    background: rgb(202, 60, 60) !important;
}

.bgr-assign-testing,
.dot-assign-testing,
.button-assign-testing {
    background: rgb(24, 83, 175) !important;
}

.bgr-unassign-testing,
.dot-unassign-testing,
.button-unassign-testing {
    background: rgb(98, 122, 165) !important;
}

.bgr-assign-verification,
.dot-assign-verification,
.button-assign-verification {
    background: rgb(134, 85, 46) !important;
}

.bgr-unassign-verification,
.dot-unassign-verification,
.button-unassign-verification {
    background: rgb(135, 115, 91) !important;
}

.bgr-mark-added,
.dot-mark-added,
.button-mark-added {
    background: rgb(128, 17, 167) !important;
}

.bgr-reject,
.dot-reject,
.button-reject {
    background: rgb(20, 20, 20) !important;
}

.bgr-upload-file,
.dot-upload-file,
.button-upload-file {
    background: rgb(14, 175, 175) !important;
}

.bgr-verify,
.dot-verify,
.button-verify {
    background: rgb(255, 132, 0) !important;
}

.bgr-system,
.dot-system,
.button-system {
    background: rgb(255, 0, 229) !important;
}

.button-delete {
    background: rgb(255, 0, 0) !important;
}

.button-pause {
    background: rgb(175, 129, 14) !important;
}

.button-cancel {
    background: rgb(175, 14, 14) !important;
}

.button-override {
    background: rgb(255, 249, 0) !important;
}

.meta-table {
    font-size: 90%;
}

.meta-table td {
    padding: .2em .5em;
}

.submissions-table {
    font-size: 90%;
}

.submissions-table td {
    padding: .2em .2em;
    border-bottom: 1px solid #cbcbcb;
}

.submissions-table th {
    padding: .1em .3em;
    border-bottom: 1px solid #cbcbcb;
}

.break-all {
    word-break: break-word;
}

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: auto;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;

}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
    border: 1px solid red;
}

.default-comment {
    color: #000;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.rainbow-wrapper {
    background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 500% 500%;

    -webkit-animation: rainbow 18s linear infinite;
    -z-animation: rainbow 18s linear infinite;
    -o-animation: rainbow 18s linear infinite;
    animation: rainbow 18s linear infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.test-instance {
    color: white;
    font-size: 150%;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.submission-filter-wrapper {
    padding: 1em;
    border: 1px solid #444;
    vertical-align: middle;
}

.form-column {
    padding: 0.5em;
}

.form-column-text input {
    width: 100%;
}

.form-column-checkboxes label {
    display: initial;
    padding-right: 1em;
}

.micro-button {
    font-size: 50% !important;
    border-radius: 0;
}

.submission-pagenav {
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
}

i {
    color: #888;
}

.meta-property {
    text-align: right;
    width: 11em;
    font-weight: bold;
}

legend, label {
    font-weight: bold;
}

.clear-link {
    text-decoration: none;
}

.curation-image {
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
    border: 1px solid black;
}

.blur-img {
    filter: blur(15px);
    cursor: pointer;
}

form [type="checkbox"],
form [type="radio"] {
    margin-right: 5px;
}

.horizontal-rule {
    margin-top: 1em;
    border-top: 1px solid black;
    width: 100%;
}

.underline {
    text-decoration: underline;
}

video {
    background: transparent;
}

@media only screen and (max-width: 840px) {
    #navbar .pure-g {
        letter-spacing: normal;
    }

    .pure-menu-horizontal {
        white-space: normal;
        text-align: left !important;
    }

    #resumable-drop {
        font-size: 4vw !important;
    }

    .meta-property {
        width: auto !important;
    }
}

@media only screen and (max-width: 470px) {
    .curation-image {
        margin: auto !important;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .content {
        padding: 1em 1.5em !important;
    }

    .pure-button-primary {
        margin-bottom: 5px;
    }

    .pure-u-1-6, .pure-u-5-6 {
        width: 100%;
    }

    .comment-header br {
        display: none;
    }

    .meta-property {
        font-size: 4vw !important;
    }
}

.sortable-table th {
    cursor: pointer;
}
