body {
    color: #444;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto 10px;
    border: 1px solid #444;
    vertical-align: middle;
}

.right {
    text-align: right;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.main {
    max-width: 1200px;
    margin: 0 auto 50px;
    border: 1px solid #444;
}

.content {
    padding: 1em 2em;
}

.comment {
    border: 1px solid #cbcbcb;
}

.comment-header {
    margin: auto 0;
    text-align: center;
    padding: 1em;
    overflow-wrap: break-word;
}

.comment-body {
    padding: 1em;
    letter-spacing: normal;
    overflow-wrap: break-word;
}


.comment-avatar {
    width: 32px;
    height: auto;
    border-radius: 50%;
    background-color: rgb(64, 64, 64) !important;
}

.comment-date {
    font-size: 60%;
}

textarea {
    resize: none;
}

.comment-textarea {
    height: 8em;
}

.pure-button {
    border-radius: 4px;
}


.bgr-comment,
.bgr-approve,
.bgr-request-changes,
.bgr-accept,
.bgr-mark-added,
.bgr-reject,
.bgr-upload-file,
.bgr-assign,
.bgr-unassign {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dot-approve,
.dot-request-changes,
.dot-accept,
.dot-mark-added,
.dot-reject,
.dot-upload-file,
.dot-assign,
.dot-unassign {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.button-approve,
.button-request-changes,
.button-accept,
.button-mark-added,
.button-reject,
.button-upload-file,
.button-delete,
.button-assign,
.button-unassign {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bgr-comment,
.dot-comment,
.button-comment {
    background: rgb(184, 184, 184) !important;
}

.bgr-approve,
.dot-approve,
.button-approve {
    background: rgb(28, 184, 65) !important;
}

.bgr-request-changes,
.dot-request-changes,
.button-request-changes {
    background: rgb(202, 60, 60) !important;
}

.bgr-accept,
.dot-accept,
.button-accept {
    background: rgb(24, 83, 175) !important;
}

.bgr-assign,
.dot-assign,
.button-assign {
    background: rgb(24, 83, 175) !important;
}

.bgr-unassign,
.dot-unassign,
.button-unassign {
    background: rgb(24, 83, 175) !important;
}

.bgr-mark-added,
.dot-mark-added,
.button-mark-added {
    background: rgb(128, 17, 167) !important;
}

.bgr-reject,
.dot-reject,
.button-reject {
    background: rgb(20, 20, 20) !important;
}

.bgr-upload-file,
.dot-upload-file,
.button-upload-file {
    background: rgb(14, 175, 175) !important;
}

.button-delete {
    background: rgb(255, 0, 0) !important;
}


.meta-table {
    font-size: 80%;
}

.meta-table td {
    padding: .2em .5em;
}

.submissions-table {
    font-size: 90%;
}

.submissions-table td {
    padding: .3em .7em;
}


#table-wrapper {
    position: relative;
}

#table-scroll {
    height: auto;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;

}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
    border: 1px solid red;
}

.default-comment {
    color: #000;
}

.test-instance {
    background: #ff9900;
    color: white;
    font-size: 150%;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.submission-filter-wrapper {
    padding: 1em;
    border: 1px solid #444;
    vertical-align: middle;
}

.form-column {
    padding: 0.5em;
}

.form-column-text input {
    width: 100%;
}

.form-column-checkboxes label {
    display: initial;
    padding-right: 1em;
}

.micro-button {
    font-size: 50% !important;
    border-radius: 0;
}

.hover-label:after {
    padding: 2px;
    display: none;
    position: relative;
    top: calc(100% + 10px);
    right: -50%;
    width: 150px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.hover-label:hover:after {
    display: block;
}

.hover-label:after {
    content: attr(data-title);
}

.submission-pagenav {
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
}