{{define "main"}}
    <div class="content">
        <h1>Browse Flashfreeze</h1>

        {{template "flashfreeze-filter" .}}

        {{if  eq (len .FlashfreezeFiles) 0}}
            <p>No files found.</p>
        {{else}}

            {{template "flashfreeze-pagenav" .}}

            Found {{.TotalCount}} items.

            {{template "flashfreeze-table" .}}

            {{template "flashfreeze-pagenav" .}}

        {{end}}
    </div>
{{end}}