{{define "main"}}
    <div class="content">
        <h1>God Tools</h1>
        <a class="pure-button pure-button-primary"
           href="/api/internal/update-master-db">
            Slurp Master Database
        </a>
    </div>
{{end}}