{{define "submission-pagenav"}}
    <div class="submission-pagenav">
        <button class="pure-button pure-button-primary"
                onclick="changePage(-1)">
            Previous page
        </button>
        <button class="pure-button pure-button-primary"
                onclick="changePage(+1)">
            Next page
        </button>
    </div>
{{end}}